.auth-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    min-width: 100px;
    padding: 15px;
    border-style: solid;
    border-radius: 6px;
    border-color: gray;
    border-width: 1px;
    gap: 15px;
}

.profile-container {
    top: 0;
    right: 0;
}

.auth-divider {
    width: 90%;
}

.auth-divider-label {
    text-align: left;
    width: 90%;
    height: 1vh;
}